@tailwind base;
@tailwind components;
@tailwind utilities;



.aspect-ratio-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
}

.aspect-ratio-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App main {
  flex-grow: 1;
}

.slick-slide {
  padding-inline: 5px !important;
}
.slick-list {
  /* / min-height: 320px !important; / */
  width: 90vw !important;
}

.slick-dots li.slick-active button:before {
  font-size: 20px !important;
  display: flex !important;
  justify-content: center !important;
  border: none;

  color: #dda45c !important;
}
.slick-dots li button:before {
  font-size: 20px !important;
  display: flex;
  justify-content: center !important;
  border: none;
  color: white !important;
  border: 1px solid #dda45c;
  border-radius: 100%;
}

.slick-arrow.slick-next:before {
  content: "";
}

.slick-arrow.slick-prev:before {
  content: "";
}

@media only screen and (max-width: 767px) {
  .slick-list {
    width: 90vw !important;
  }
}

@media only screen and (min-width: 1280px) {
  .slick-list {
    max-width: 1230px !important;
  }
}

 .dream-agency-bussiness .slick-dots li.slick-active button:before {
    color: #38b9f8 !important;
}

 .dream-agency-bussiness .slick-list {
    margin-bottom: 10px !important;
  }

.dream-agency-work .slick-dots li.slick-active button:before {
    color: #fb8f6e !important;
  }

.dream-agency-work .slick-list {
    margin-bottom: 10px !important;
  }


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
