body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #659DBD;
  color: #fff;
}

.navbar_left {
  display: flex;
  align-items: center;
}

.navbar_logo {
  font-size: 1.5rem;
  margin-right: 20px;
}

.navbar_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_button {
  color: #659DBD;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.navbar_right {
  display: flex;
  align-items: center;
}

.navbar_logout {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}